.error {
    background-color: rgba(230, 52, 52, 0.87);
    padding: 1rem 2rem;
}

.error > span {
    display: block;
    text-align: right;
    cursor: pointer;
}

.error_message {
    color: white;
    font-size: var(--error-fs);
    line-height: 1.2;
}
