.navigation-container {
    position: fixed;
    left: 0;
    top: 0;
}

.navigation-container ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 4rem;
}

.navigation-container ul li {
    list-style: none;
}

.navigation-container ul li:last-of-type {
    margin-top: auto;
}

.profile {
    margin-top: auto;
    margin-bottom: 4rem;
    position: relative;
}

.profile img {
    cursor: pointer;
}

.profile button {
    display: none;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pressed + button{
    display: block;
}
.profile img {
    border-radius: 50%;
}

